

<div class = 'row' >
  <%= form_with model: Comment, url: '/comment', method: :post do |form| %>

    <div class = 'row' style = 'position:relative; text-align:center;'>
    <%= form.label :comment, "Put in your comment here:" %>
    <div class = 'row' style = 'position:relative; justify-content:center;'>
    <%= form.text_field :comment, style: "background-color:#DCDCDC; width:50%; height:100px; margin-top:10px; margin-bottom:10px;" %>
    </div>
    </div>

    <div>
    <%= form.hidden_field :user_id, :value => session[:user_id] %>
    </div>

    <div class = 'row' style = 'position:relative; text-align:center;' >
    <%= form.hidden_field :recipe_id, :value => @recipe.id %>
    </iv>

    <div>
    <%= form.submit "Add comment", style: "margin-top:20px; margin-bottom:20px;" %>
    </div>
  <% end %> 
</div>

