

<div class = 'row' >
  <%= form_with model: Comment, url: '/comment', method: :post do |form| %>
    <div>
    <%= form.label :comment, "Put in your comment here:" %>
    <div>
    <%= form.text_field :comment %>
    </div>
    </div>

    <div>
    <%= form.hidden_field :user_id, :value => session[:user_id] %>
    </div>

    <div>
    <%= form.hidden_field :recipe_id, :value => @recipe.id %>
    </iv>

    <div>
    <%= form.submit "Add comment" %>
    </div>
  <% end %> 
</div>

