<div class = 'container' style = "border:solid; margin:auto; margin-top:50px;">
  <%= form_with model: Recipe, url: '/recipes' , method: :post do |form| %>
    <div class = 'row' style = 'margin:auto; margin-bottom:20px;' >
    <%= form.label :title, "Put in your recipe title:" %></br>
    <%= form.text_field :title, style: 'width:300px; background-color:#DCDCDC;' %>
    </div>

    <div class = 'row' style = 'margin:auto; margin-bottom:20px;' >
    <%= form.label :body, 'Put in the recipe body here' %></br>
    <%= form.text_field :body, style: 'width:500px; height:200px; background-color:#DCDCDC;' %>
    </div>

    <div class = 'row' style = 'margin:auto; margin-bottom:20px;'>
    <%= form.label :ingredients, "Put in your recipe ingredients:" %></br>
    <%= form.text_field :ingredients, style: 'width:300px; background-color:#DCDCDC;'%>
    </div>

    <%= form.hidden_field :user_id, :value => session[:user_id] %>
    
    <div class = 'row' style = 'margin:auto; margin-bottom:20px;'>
    <%= form.submit "Add recipe", style: 'width:100px; margin-left:10px;'  %>
    </div>
  <% end %> 
</div>