
<div class = 'row' style = "border:solid; width:60%; height:500px; margin:auto;">


  <%= form_with url: "/signup", method: :post do |form| %>
    <%= form.label :name, "Put in your name:" %>
    <%= form.email_field :name %>
    <%= form.label :email, "Put in your email:" %>
    <%= form.email_field :email %>
    <%= form.label :password, "Put in your password:" %>
    <%= form.password_field :password %>
    <%= form.submit "Sign up" %>
  <% end %>
  
</div>
</div>
